* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input {
  outline: none;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.contact, .card, .contacts__body, .hits__body {
  border-radius: 8px;
}

.nav__list li a:hover {
  color: #F5BD41;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__list li a:active {
  color: #F5BD41;
}

.section-contacts h2, .section-hits h2 {
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  text-align: start;
  margin-bottom: 20px;
  padding-left: 20px;
}

.contacts__body, .hits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(245, 245, 245, 0.7);
  padding: 20px;
}

.contact, .card {
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin-right: 20px;
  background: #212121;
  background: -webkit-gradient(linear, left bottom, left top, from(#4b4b4b), to(white));
  background: linear-gradient(0deg, #4b4b4b 0%, white 100%);
  cursor: pointer;
}
.contact img, .card img {
  width: 100%;
}

.anim-show {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.anim-show.active,
.active .anim-show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

body {
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-image: url("../../images/cooking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__body img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.header__logo {
  margin-right: 400px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list li {
  margin-left: 50px;
}
.nav__list li a {
  font-size: 24px;
  background-color: transparent;
  color: #ffffff;
}
.main {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 290px;
}

.main__body {
  color: #ffffff;
}
.main__body .main__content {
  margin-bottom: 80px;
}
.main__body .main__content h1 {
  font-size: 60px;
  margin-bottom: 30px;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.main__body .main__content h1.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.main__body .main__content p {
  font-size: 24px;
  margin-bottom: 30px;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.main__body .main__content p.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
.main__body .main__content .apps {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.main__body .main__content .apps.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.section-hits {
  height: auto;
  padding: 30px 0;
  margin-bottom: 60px;
}
.hits__body .card {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.hits__body .card:last-child {
  margin-right: 0;
}
.hits__body.active .card {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.hits__body.active .card:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.hits__body.active .card:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.hits__body.active .card:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
.hits__body.active .card:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.card .card__text {
  padding: 10px;
  color: #ffffff;
}
.card .card__text h3 {
  font-size: 18px;
  font-weight: 600;
}
.card .card__door {
  width: 100%;
  height: 100%;
  background-image: url("../../images/card-door.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform: translate(0, -99%);
          transform: translate(0, -99%);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.card .card__door.itemEmersion {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.section-contacts {
  padding: 30px 0;
  margin-bottom: 60px;
}
.contacts__body {
  position: relative;
}

.contact {
  position: relative;
  opacity: 0;
  width: 400px;
}
.contact .contact__text {
  padding: 10px;
  color: #ffffff;
  line-height: 24px;
}
.contact .contact__text h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact__block-1 {
  margin-right: 0;
}
.contact__block-1.active {
  -webkit-animation-name: anim__contacts-1;
          animation-name: anim__contacts-1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact__block-2.active {
  -webkit-animation-name: anim__contacts-2;
          animation-name: anim__contacts-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact__block-3.active {
  -webkit-animation-name: anim__contacts-3;
          animation-name: anim__contacts-3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes anim__contacts-1 {
  0% {
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    left: 67.6%;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anim__contacts-1 {
  0% {
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    left: 67.6%;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes anim__contacts-2 {
  0% {
    left: -33.3%;
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    left: 1.9%;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes anim__contacts-2 {
  0% {
    left: -33.3%;
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    left: 1.9%;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes anim__contacts-3 {
  0% {
    left: -65.6%;
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    left: -65.6%;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes anim__contacts-3 {
  0% {
    left: -65.6%;
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    left: -65.6%;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.footer {
  width: 100%;
  padding-top: 40px;
}
.footer .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(245, 245, 245, 0.7);
  height: 100%;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer li {
  margin-left: 10px;
}
.footer a {
  color: #ffffff;
}